.contenitore{
    width: 500px;
    margin: 20px auto;
    font-size: 25px;
}

.checked{
    text-decoration: line-through;
}
ul {
    list-style-type: none;
}


li{
    font-family: 'Coming Soon', cursive;
    border: 5px solid grey;
    padding: 5px 10px;
    border-radius: 15px;
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
}
.delete{
    color: red;

}

i{
    cursor: pointer;
}

.done{
    color: rgb(7, 241, 7);
    margin-right: 10px;
}

.text-area{
    margin-left: 32px;
    width: 100%;
}